* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    flex: 1;
}

footer {
    padding: 10px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

#profile {
    border: solid 2px black;
    border-radius: 50%;
}


